#x {
	background-color:red;
	border-radius:14px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
#x:hover {
	background-color:white;
	color:red;
}
#x:active {
	position:relative;
	top:1px;
}

#t1b, #t2b, #t3b, #t4b, #t5b, #t6b, #t7b, #t8b, #t9b, #t10b, #addnew:hover, #submit-button {
	border-radius: 5px;
	background-color: black;
	color: white;
	padding: 10px 10px;
	border:1px solid #000000;
}

#t1b:hover, #t2b:hover, #t3b:hover, #t4b:hover, #t5b:hover, #t6b:hover, #t7b:hover, #t8b:hover, #t9b:hover, #t10b:hover, #addnew, #submit-button:hover {
	border-radius: 5px;
	background-color: white;
	color: black;
	padding: 10px 10px;
	border:1px solid #000000;
}

#t1d, #t2d, #t3d, #t4d, #t5d, #t6d, #t7d, #t8d, #t9d, #t10d {
	padding: 10px;
}

#taskname {
	border-radius: 5px;
	font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

@keyframes intro {
	0% {background-color: lightblue;}
	50% {background-color: white;}
	100% {background-color: lightblue;}
}

#console {
	animation-name: intro;
	animation-duration: 3s;
	background-color: lightblue;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: lightblue;
  color: black;
  border:1px solid #000000;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
